:root {
    --negro: #161616;
    --madera: #5e3a22;
    --dorado: #c9a227;
    --blanco: #f5f5f5;
    --gris: #eaeaea;
    --sombra: 0 6px 20px rgba(22, 22, 22, 0.12);
    --transicion: all 0.25s ease;

    --font-titulos: "cinzel", serif;
    --font-cuerpo: "montserrat", sans-serif;
}